{include file="public/header" /}
<!--样式-->
<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap-datetimepicker.min.css">

<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">客户管理</a> &raquo; 新增客户
    </div>
    <!--结果集标题与导航组件 结束-->
    <div class="result_wrap">
        <form action="#" method="post">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>类别：</th>
                        <td>
                            <select name="customer_type">
                                <option value="">请选择</option>
                                <option value="1">A客户</option>
                                <option value="2">B客户</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>姓名：</th>
                        <td>
                            <input type="text" name="customer_name">
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>电话：</th>
                        <td>
                            <input type="text" name="tel">
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>生日：</th>
                        <td>
                            <!--<input type="text" class="" name="birthday" id="birthday" data-date-format="yyyy-mm-dd" data-link-field="time" data-link-format="yyyy-mm-dd" readonly>-->
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                            <!--<input type="hidden" id="time" value="">-->
                            <div class="input-group date" id="birthday" data-date="" data-date-format="yyyy-mm-dd" data-link-field="time" data-link-format="yyyy-mm-dd">
                                <input type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="time" value="" /><br/>
                        </td>
                    </tr>
                    <tr>
                        <th>住址：</th>
                        <td>
                            <textarea name="discription"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
<!--时间插件-->
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('#birthday').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>