{include file="public/header" /}
<link rel="stylesheet" href="__STATIC__/laydate/theme/default/laydate.css">
<script type="text/javascript" src="__STATIC__/laydate/laydate.js"></script>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">客户管理</a> &raquo; 编辑客户
</div>
<!--结果集标题与导航组件 结束-->
<div class="result_wrap">
    <form action="{:url('editCustomer')}" method="post" id="editCustomer">
        <input type="hidden" name="id" value="{$customer.id}">
        <table class="add_tab">
            <tbody>
            <tr>
                <th width="120"><i class="require">*</i>类别：</th>
                <td>
                    <select name="customer_type">
                        <option value="">请选择</option>
                        <option value="1" {eq name="$customer.customer_type" value="1"}selected{/eq}>A客户</option>
                        <option value="2" {eq name="$customer.customer_type" value="2"}selected{/eq}>B客户</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="120"><i class="require">*</i>来源：</th>
                <td>
                    <select name="customer_source">
                        <option value="">请选择</option>
                        <option value="1" {eq name="$customer.customer_source" value="1"}selected{/eq}>绵竹</option>
                        <option value="2" {eq name="$customer.customer_source" value="2"}selected{/eq}>彭州</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>姓名：</th>
                <td>
                    <input type="text" name="customer_name" value="{$customer.customer_name}">
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>电话：</th>
                <td>
                    <input type="text" name="tel" maxlength="11" value="{$customer.tel}">
                </td>
            </tr>
            <tr>
                <th>性别：</th>
                <td>
                    <label for=""><input type="radio" name="sex" value="1" {eq name="$customer.sex" value="1"}checked{/eq}>男</label>
                    <label for=""><input type="radio" name="sex" value="2" {eq name="$customer.sex" value="2"}checked{/eq}>女</label>
                </td>
            </tr>
            <tr>
                <th>生日：</th>
                <td>
                    <input type="text" class="" id="birthday" readonly value="{$customer.birthday_format}">
                    <input type="hidden" class="birthday" id="bir" name="birthday" value="{$customer.birthday}">
                </td>
            </tr>
            <tr>
                <th>备注：</th>
                <td>
                    <textarea name="remark">{$customer.remark}</textarea>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="提交">
                    <input type="button" class="back" onclick="history.go(-1)" value="返回">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#editCustomer").validate({
            submitHandler : function(form) {  //验证通过后的执行方法
                layer.confirm('您确定要提交？', {
                    btn: ['YES','NO'] //按钮
                }, function(){
                    $(form).ajaxSubmit({
                        success:function(data){
                            if (data.success){
                                layer.msg(data.msg, {icon: 1,time:1500});
                                setTimeout(function ()
                                {
                                    window.history.back(-1);

                                }, 1500);
                            }else{
                                layer.msg(data.msg, {icon:2,time:1500});
                            }
                        }
                    });

                })
            },
            focusInvalid : true,   //出错时聚焦此input框
            rules: { //验证规则
                customer_type: {
                    required: true
                },
                customer_source: {
                    required: true
                },
                customer_name: {
                    required: true
                },
                tel: {
                    required: true,
                    checkTel: true
                }
            },
            messages: {
                customer_type: {
                    required: "请选择客户类别！"
                },
                customer_source: {
                    required: "请选择客户来源！"
                },
                customer_name: {
                    required: "请输入客户姓名！"
                },
                tel: {
                    required: "请输入电话号码！"
                }
            },
            success: function(label) {
                label.html("&nbsp;").addClass("checked");
            }
        });
        $.validator.addMethod("checkTel",function(value,element,params){
            var reg=/^1\d{10}$|^(0\d{2,3}-?|\(0\d{2,3}\))?[1-9]\d{4,7}(-\d{1,8})?$/;
            return this.optional(element)||(reg.test(value));
        },"请输入正确的电话号码！");
    });

    //时间插件
    laydate.render({
        elem: '#birthday', //指定元素
        lang: 'cn',
        calendar: true,
        type: 'date',
        format: 'yyyy-MM-dd',
        trigger: 'click',
        zIndex: 99999999,
        done: function (value,date,endDate) {
            $("#bir").val((Date.parse(new Date(value)))/1000);
        }
    });

</script>