{include file="public/header" /}
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="{:url('index/info')}">首页</a> &raquo; <a href="#">商品管理</a> &raquo; 商品列表
</div>
<!--面包屑导航 结束-->

<!--结果页快捷搜索框 开始-->
<div class="search_wrap">
    <form action="{:url('goodsList')}" method="get">
        <table class="search_tab">
            <tr>
                <th width="80">套餐:</th>
                <td><input type="text" name="goods_name" placeholder="套餐名" value="{$search.goods_name}"></td>
                <td>
                    <input type="submit" name="sub" value="查询">
                </td>
            </tr>
        </table>
    </form>
</div>
<!--结果页快捷搜索框 结束-->

<!--搜索结果页面 列表 开始-->
<form action="#" method="post">
    <div class="result_wrap">
        <div class="result_content">
            <table class="list_tab">
                <tr>
                    <th class="tc">ID</th>
                    <th>产品</th>
                    <!--<th>价格(元)</th>-->
                    <th>成本(元)</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                {volist name="goodsList" id="gList" key="k"}
                    <tr>
                        <td class="tc">{$k}</td>
                        <td>{$gList.name}</td>
                        <!--<td>{$gList.price}</td>-->
                        <td>{$gList.cost}</td>
                        <td>{$gList.remark}</td>
                        <td>
                            <a href="{:url('editGoods')}?id={$gList.id}" title="修改"><i class="fa fa-fw fa-edit"></i>修改</a>
                        </td>
                    </tr>
                {/volist}
            </table>
            <div class="page_list">
                {$page}
            </div>
        </div>
    </div>
</form>
<!--搜索结果页面 列表 结束-->
</body>
</html>
<script type="text/javascript">
    laydate.render({
        elem: '#buy_time',
        range: true,
        done: function (value,date,endDate) {
            $("#start_date").val(dateSplice(date));
            $("#end_date").val(dateSplice(endDate));
        }
    });
</script>